<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleindex.css">
</head>
<body>
    <h1>hello Laryssa</h1>
    <p>Quando o celular chegar me avisa pra nois jogar visse</p>
</body>
</html>