<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem-vindo ao meu aplicativo</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium in repudiandae, dolorum commodi obcaecati odio sunt perspiciatis amet nemo cupiditate illo officiis aliquid rem quidem illum error temporibus saepe!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, magnam quod. Aperiam, iste pariatur illo tenetur officia distinctio animi ullam blanditiis! Laudantium, iste. Eius possimus voluptatum qui. Recusandae, magnam molestias.</p>
    <a href="/register">
        <button>Registrar</button>
    </a>
</body>
</html>