<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleindex.css">
</head>
<body>
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea veniam voluptas dolorum, alias ducimus beatae cumque soluta velit id possimus blanditiis repellat eius harum eaque laudantium quibusdam quaerat quasi vitae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sequi fugit expedita delectus tempore debitis voluptatibus eum. Alias nemo veritatis doloremque sed excepturi debitis modi atque suscipit, eligendi neque saepe.</p>
</body>
</html>