<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="container">
        <h1>Criar conta</h1>
        <form action="/register" method="POST">
            <input type="text" id="nome" name="username" required placeholder="Usuário">

            <input type="email" id="email" name="email" required placeholder="Email">

            <input type="password" id="senha" name="password" required placeholder="Senha">

            <button type="submit">Registrar</button>
            
        </form>
        <a href="/login">
                <button class="login">Login</button>
            </a>
    </main>
</body>
</html>